.footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 65px;
      background: #77c9b4;
      align-items: center;
}

p {
      text-align: center;
      font-size: 18px;
}