<div *ngFor="let audio of audios">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://via.placeholder.com/40x50.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>

<div class="cards-content">
    <div *ngFor="let video of videosList">
        <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/60x150.png" alt="Card image cap">
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">{{video.title}}</h5>
                </a>
            </div>
        </div>
    </div>
</div>